
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;bottom: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:	none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
a{text-decoration: none;}

/*-----------------------------------------------------*/
/*Background of the whole page*/
.background{
	background-color: #252525;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 1666px;
}
/*main page style*/
.body-container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	width: 100%;
	height: 1656px;
	background-color: #181818;
}

.aside-main-container{
	max-width: 300px;
	background-color: #202020;
	height: 1656px;
	float: left;
	width: 30%;
}

.nav-main-container{
	max-width: 700px;
	float: right;
	vertical-align: top;
	height: 40px;
	width: 70%;
	background-color: #0D0D0D;
	display: flex;
	color: #fff;

}

.nav-main-container-block{
	display: flex;
	color: #fff;
}

.nav-main-container-block-item-1 , .nav-main-container-block-item-2 , .nav-main-container-block-item-3 , .nav-main-container-block-item-4 {
	font-family: 'Patrick Hand', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 13px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top:  calc((40px - 14px)/2);
	padding-bottom: calc((40px - 14px)/2);
	padding-left: 11.5px;
	padding-right: 11.5px;
}	

.nav-main-container-block-item-5{
	font-family: 'Patrick Hand', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 13px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top:  calc((40px - 14px)/2);
	padding-bottom: calc((40px - 14px)/2);
	padding-left: 11.5px;
	padding-right: 11.5px;
}

.nav-block-item-search{
	width: 222px;
}

.nav-search-field{
	display: block;
	background-color: #202020;
	float: left;
	width: 100px;
	height: 40px;
	color: #d1cdcd;
	line-height: 14px;
	text-align: center;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	

}

.nav-search-button{
	float: right;
	background-color: #15292c;
	color: rgb(196, 173, 235);
	width: 50px;
	height: 40px;
}

.nav-block-item-search-form{
	position: relative;
	width: 125px;
	margin: 0 auto;
	height: 40px;
 }
input.nav-search-field{
	height: 40px;
	width: 0;
	border: none;
	border-bottom: 2px solid transparent;
	outline: none;
	background: transparent;
	transition: .4s cubic-bezier(0, 0.8, 0, 1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
 }
input.nav-search-field:focus {
	width: 172px;
	z-index: 1;
	border-bottom: 2px solid #F9F0DA;
 }

.aside-main-container-header-img-ava{
	width: 100px;
	height: 100px;
	border-radius: 200%;
}

.aside-main-container-header-img{
	display: flex;
	justify-content: center;
}

.aside-main-container-content-header{
	padding-bottom: 55px;
}

.aside-main-container-content-header-text-header{
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 15px;
	height: auto;
	color: #F9F0DA;
	font-family:  'Patrick Hand', cursive;
	font-weight: 400;
	font-size: 25px;
	max-width: 300px;
	width: 100%;
}

.aside-main-container-content-header-text-main{
	text-align: center;
	color: #F9F0DA;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	max-width: 300px;
	width: 100%;
	padding-bottom: 25px;
}

.aside-main-container-content-header-social-media{
	display: flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align: center;
	justify-content: center;
}

.aside-main-container-content-maincontent-text{
	color: #F9F0DA;
	font-family:'Montserrat', sans-serif;
	font-style: italic;
	font-size: 16px;
	text-align: center;
	font-weight: 400;
	padding-bottom: 55px;
}

.aside-main-container-content-maincontent-buttons{
	max-width: 300px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align: center;
	justify-content: center;
}

.button-my-works{
	text-align: center;
	margin-right: 15px;
	background-color: #ED3024;
	border-radius: 25px;
	height: 40px;
	width: 120px;
	color: #F9F0DA;
	font-weight: 600;
	font-family:'Montserrat', sans-serif;
	font-size: 15px;
}

.button-contact-me{
	text-align: center;
	margin-right: 15px;
	background-color: #3137C9;
	border-radius: 25px;
	height: 40px;
	width: 120px;
	color: #F9F0DA;
	font-weight: 600;
	font-family:'Montserrat', sans-serif;
	font-size: 15px;
}