main{
	display: flex;
	position: relative;
	
}



.main-content{
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	width: 600px;
	height: 1900px;
	background-color: red;


}
